html {
    font-family: Tahoma;
    color:rgb(58, 58, 58);
}

body {
    background-color:rgb(255, 255, 255);
    margin: 0;
}
p {
    font-size: 1rem;
}
.blue{
    color:aquamarine;
}
#header {
    background-image: url("https://img.freepik.com/premium-vector/blue-stars-dark-blue-background_3442-903.jpg");
    background-size: cover;
    background-position:center center;
    height: 21rem;
    color: rgb(94, 96, 124);
    font-size: 2rem;
    border-radius: 0 0 1.2rem 1.2em;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom
}