html {
    font-family: Tahoma;
    color:rgb(58, 58, 58);
}

body {
    background-color:rgb(252, 251, 246);
    margin: 0;
}
p {
    font-size: 1rem;
}
.blue{
    color:rgb(73, 139, 125);
}
#header {
    background-image: url("https://wallpaperbat.com/img/17270952-starlight-stars-wallpaper-rose-gold.jpg");
    background-size: cover;
    background-position:center center;
    height: 21rem;
    color: rgb(238, 233, 211);
    font-size: 2rem;
    border-radius: 0 0 1.2rem 1.2em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
  background-color:rgb(45, 56, 73);
    display: flex;
    color: white;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links li a {
    text-decoration: none;
    color:white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: 0.70s;

}

.nav-links li a:hover {
    background-color:rgb(57, 65, 78);
}

.title {
    text-align: center;
    padding: 1em;
}

.current {
    text-decoration: underline dotted rgb(44, 47, 73) 0.3em;
}

.accordion-header {
    width: 100%;
    background-color: rgb(67, 72, 83);
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(201, 205, 231);
    cursor: pointer;
    transition: 0.8s
}

.accordion-content {
    display: none;
}

.accordion-header:hover{
    background-color: rgb(107, 109, 112);
}